<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Wordle</title>
    <link rel="stylesheet" href="/css/style.css">
</head>


<body>
    <div class="game-container">
        <div class="title-container">
            <h1>Wordle</h1>
        </div>

        <div class="popUp-container"></div>

        <div class="message-container"></div>

        <div class="tile-container"> </div>

        <div class="key-container"> </div>



    </div>

    <script src="/scripts/app.js"></script>
</body>

<!-- <script type="module">
//Firebase things
//=========================================================================
// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
import { getDatabase } from "firebase/database";
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyCzVe4hNu9CtGe-fWsKxzUc1DbXnkIByf8",
  authDomain: "wordle-afc37.firebaseapp.com",
  databaseURL: "https://wordle-afc37-default-rtdb.firebaseio.com",
  projectId: "wordle-afc37",
  storageBucket: "wordle-afc37.appspot.com",
  messagingSenderId: "544820127245",
  appId: "1:544820127245:web:cabbae95a59e5bd2419744",
  measurementId: "G-PP1W4J1B91"
};




//============================================================================
  </script> -->

</html>