<html lang="en">

    <head>
    
        <meta charset="UTF-8">
        <title>Wordle</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    
    
    <body>
        <div class="game-container-2">
            <div class="title-container">
                <h1>Wordle</h1>
            </div>
        
            <div class="main-option word-day">Word of the Day</div>
            <div class="main-option challenge-friend">Challenge a friend</div>
            <div class="main-option-2"><input type="text" id="code" name="code"><button>Submit</button></div>

        </div>
    
        <script src="/scripts/app.js"></script>
    </body>
    
    </html>